*{
    margin: 0px;
    padding: 0px;
}
.out{
    border: solid 1px;
    height: 170px;display: flex;
}
#box1,#box2,#box3{
    border: solid 1px;
    height: 170px;
    
}
#box1{
    width: 170px;
}
#box2{
    width: 1100px;
    color: purple;
    background-color: bisque;
}
#box3{
    width: 170px;
}
#clgname{
    font-size: 45px;
}
#text1{
    font-size: 25px;
    color: brown;
}
#text2{
font-size: 25px;
    color: brown;
}
#textscroll{
    font-size: 30px;
    color: red;
    font-weight: bold;
}
#navbox{
    border: solid 1px;
    height: 50px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 230px;
    float: left;
    text-align: center;
    line-height: 50px;
    background-color: aquamarine;
    border-radius: 10px;
    margin-right: 3px;
    font-weight: bold;
    position: relative;
}
ul{
    list-style: none;
}
ul li a{
    color: black;
    font-size: 23px;
    text-decoration: none;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}
ul li:hover{
    background-color: plum;
}
#clg{
    border: solid;
    height: 450px;
}
